name: run-tests

on:
  push:
    paths:
      - '**.php'
      - '.github/workflows/run-tests.yml'
      - 'phpunit.xml.dist'
      - 'composer.json'
      - 'composer.lock'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    strategy:
      fail-fast: true
      matrix:
        include:
          - os: ubuntu-latest
            php: '8.3'
            laravel: '12.*'
            testbench: '10.*'
            stability: 'prefer-stable'
            pest: '^3.0'
            pest_plugin: '^3.0'

          - os: ubuntu-latest
            php: '8.3'
            laravel: '12.*'
            testbench: '10.*'
            stability: 'prefer-lowest'
            pest: '^3.0'
            pest_plugin: '^3.0'

          - os: ubuntu-latest
            php: '8.3'
            laravel: '11.*'
            testbench: '9.*'
            stability: 'prefer-stable'
            pest: '^3.0'
            pest_plugin: '^3.0'

          - os: ubuntu-latest
            php: '8.3'
            laravel: '11.*'
            testbench: '9.*'
            stability: 'prefer-lowest'
            pest: '^3.0'
            pest_plugin: '^3.0'

    name: P${{ matrix.php }} - L${{ matrix.laravel }} - ${{ matrix.stability }} - ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, bcmath, soap, intl, gd, exif, iconv, imagick, fileinfo
          coverage: none

      - name: Setup problem matchers
        if: runner.os == 'Linux'
        run: |
          echo "::add-matcher::${{ runner.tool_cache }}/php.json"
          echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

      - name: Cache Composer dependencies
        uses: actions/cache@v3
        with:
          path: vendor
          key: ${{ runner.os }}-composer-${{ hashFiles('composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-

      - name: Install Laravel, Testbench, Pest, and Pest Plugin
        run: |
          composer require "laravel/framework:${{ matrix.laravel}}" "orchestra/testbench:${{ matrix.testbench}}" --no-interaction --no-update
          composer update --prefer-dist --no-interaction --${{ matrix.stability }}
          composer require --dev pestphp/pest:${{ matrix.pest}} pestphp/pest-plugin-laravel:${{ matrix.pest_plugin}} --no-interaction

      - name: List Installed Dependencies
        run: composer show -D

      - name: Verify Pest installation
        run: |
          if [ "${{ runner.os }}" = "Linux" ]; then
            ls -la vendor/bin/
          else
            dir vendor/bin
          fi

      - name: Run Tests
        run: vendor/bin/pest --ci
        shell: bash
